.container{
  width: 500px;
  height: 500px;
}

.searchButton{
  border-radius: 8px;
}

.searchButton span{
  background-color:inherit;
  color: dimgray;
}

.weatherCard{
  background-color:darkgrey;
}